h1 {
  color: blue;
}

.head {
  text-align: center;
}

.index {
  font-size: 20px;
  list-style: none;
  padding: 0;
  text-align: center;
}

.index li {
  position: relative;
}

.index li::before {
  content: "\2022";
  display: inline-block;
  width: 10px;
  text-align: center;
  margin-right: 5px;
  margin-left: -15px;
}

a:link {
  color: #B205E0;
  text-decoration: none;
}

a:visited {
  color: palevioletred;
}

a:hover {
  color: brown;
  font-weight: bold;
  text-decoration: underline dotted;
}

a:active {
  color: #FFED00
  background-color: black;
  font-style: italic;
}