a:link {
  text-decoration: none;
}

a:visited {
  color: palevioletred;
}

a:hover {
  color: brown;
  font-weight: bold;
  text-decoration: underline dotted;
}

a:active {
  background-color: black;
  foint-style: italic;
}